body{
    
    background-image: url(https://cdna.artstation.com/p/assets/images/images/016/574/322/large/yang-sohyeon-2-1.jpg?1552713509);
    margin: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-position: center center;
    justify-content: center;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
}

#enunciado{
    margin: 5px;
    color: rgb(42, 19, 69);
}

.imagenes{
    height: 100px;
    cursor: pointer;
}

.imagenes:hover{
    transform: scale(1.1);
}

/* INTERFACES */
#equipo{
    height: 90px;
    width: 500px;
    color: azure;
    background-color: rgb(155, 110, 31);
    position: absolute;
    top: 10px;
    left: 500px;

    display: flex;
}

.espacios{
    background-color: rgb(28, 20, 15);
    
    height: 80px;
    width: 130px;
    margin: 5px;
}



#libro{
    height: 90px;
    width: 120px;
    margin: 5px;
    position: absolute;
    bottom: 10px;
    left: 700px;
    opacity: 0.6;
    z-index: 10;
    display: flex;
}

#bola{
    height: 63px;
    width: 70px;
    margin: 5px;
    position: absolute;
    bottom: 187px;
    right: 20px;
    opacity: 0.5;
    z-index: 10;
    display: flex;
}

#calavera{
    height: 70px;
    width: 40px;
    margin: 5px;
    position: absolute;
    top: 154px;
    left: 365px;
    z-index: 10;
    display: flex;
}

#pocion{
    height: 50px;
    width: 60px;
    margin: 5px;
    position: absolute;
    top: 285px;
    left: 310px;
    opacity: 0.8;
    z-index: 10;
    display: flex;
}



#llaves{
    height: 50px;
    width: 90px;
    margin: 5px;
    position: absolute;
    bottom: 15px;
    left: 0px;
    opacity: 0.5;
    
    z-index: 10;
    

    display: flex;

}


#inventarioLibro{
    height: 70px;
    width: 100px;
    margin: 5px;
    opacity: 0.2  ;
    
    
}

#inventarioBola{
    height: 60px;
    width: 60px;
    margin: 5px;
    opacity: 0.2;
  
}

#inventarioCalavera{
    height: 60px;
    width: 40px;
    margin: 5px;
    opacity: 0.2;
   
}

#inventarioPocion{
    height: 50px;
    width: 60px;
    margin: 5px;
    opacity: 0.2;
    
}

#inventarioLlaves{
    height: 55px;
    width: 60px;
    margin: 5px;
    opacity: 0.2;
  
}

#inventario{
    padding: 20px;
    width: 100px;
    right: 10px;
    position: absolute;
    top:0px;
    background-color: aliceblue;
} 
